
<h1>Products</h1>

<h3>Total Count : <%= Article.public_count %> </h3>

<br><br>

<!--<ul>-->
  <%# @articles.each do |article| %>
    <%# unless article.archived? %>
<!--      <li>-->
        <%#= link_to article.title, article %>
<!--        <br>-->
        <%#="Author: "+article.author %>
<!--      </li>-->
    <%# end %>
  <%# end %>
<!--</ul>-->
<%= link_to "New Product", new_article_path, class:'btn btn-success mx-5' %>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Vendor</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <% @articles.each do |article| %>
  <tr>
    <th scope="row"><%= article.id %></th>
    <td><%= article.title %></td>
    <td><%= article.author %></td>
    <td>
      <div class="d-flex">
      <%= link_to 'show', article, class:'btn btn-primary ' %>
      <%= button_to  "Destroy", article,
                         method: :delete, form:{ data: {confirm: "Are you sure?"}},
          class:'btn btn-danger mx-4'%>

        <%= link_to "Edit", edit_article_path(article), class:'btn btn-secondary' %>
      </div>
    </td>
  </tr>
 <% end %>

  </tbody>
</table>

