<center>
<h1>Show product</h1>



<h1> Name : <%= @article.title %></h1>

<p> Description : <%= @article.body %></p>
  <div >

    <% if @article.image.attached? %>
    <p>
      <strong>Image:</strong>
      <br>
      <%= image_tag @article.image ,style:"width: 200px;height: 200px" %>
    </p>
  <% end %>

  </div>

  <%= link_to "Edit", edit_article_path(@article), class:'btn btn-primary' %></li>
  <%= button_to  "Destroy", @article,
                     method: :delete, form:{ data: {confirm: "Are you sure?"}} ,
                     class:'btn btn-danger'
  %>

    <%#= link_to "Delete Link",   @article, data:{ turbo_method: :delete ,turbo_confirm: "Are you sure?" }, class:'btn btn-danger' %>

  </li>


</center>

<!--<h2>Comments</h2>-->
<%#= render @article.comments %>

<!--<h2>Add a comment:</h2>-->
<%#= render 'comments/form' %>